**/build/
src/ani_csrc/*
*.pt
.vscode/*
**/__pycache__/*
.eggs/
*.qdrep
*.sqlite
*.sif
._.DS_Store
.DS_Store
*.final
*.xyz
*.log
*.dump
log.lammps
myexamples/*
md.log
md.traj
dump.yaml
*.final
TODOs*
deadcode*
