**/build/
src/ani_csrc/*
*.pt
.vscode/*
**/__pycache__/*
.eggs/
*.qdrep
*.sqlite
*.sif
._.DS_Store
.DS_Store
*.final
*.xyz
*.log
*.dump
log.lammps
myexamples/*
md.log
md.traj
dump.yaml
*.final
TODOs*
deadcode*


*.pq
*.png
*.csv
*.txt
*.swp
*.pdb
*.data
*restart*
*.zip
examples/alanine-dipeptide-umbrella/
examples/alanine-dipeptide/
examples/benchmark/
examples/combustion/
examples/early_earth/analyze/
examples/early_earth/archive/
examples/early_earth/in.big.bench.lammps
examples/early_earth/logs-big
examples/early_earth/test_analyze/
examples/water/logs/
external/ani_engine_models/backup/
