[submodule "external/lammps"]
	path = external/lammps
	url = https://github.com/lammps/lammps
[submodule "external/torchani_sandbox"]
	path = external/torchani_sandbox
	url = git@github.com:roitberg-group/torchani_sandbox.git
[submodule "external/ani_ext"]
	path = external/ani_ext
	url = git@github.com:plin1112/ani_ext.git
[submodule "external/ani-1xnr"]
	path = external/ani-1xnr
	url = git@github.com:atomistic-ml/ani-1xnr.git
[submodule "external/ani_engine"]
	path = external/ani_engine
	url = git@github.com:roitberg-group/ani_engine.git

