name: build_test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        token: ${{ secrets.PAT }}
        submodules: recursive
    - uses: eWaterCycle/setup-singularity@v7
      with:
        singularity-version: 3.8.3
    - name: Run a singularity container
      run: singularity exec --cleanenv -H $PWD:/home --pwd /home --nv docker://nvcr.io/nvidia/pytorch:22.08-py3 /bin/bash -c "./build.sh"
