name: build_docker

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build_docker:
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT }}
          submodules: recursive

      # To avoid docker login and post login have race conditions because of multiple jobs running
      # on the same machine.
      - name: Set DOCKER_CONFIG
        run: |
          mkdir -p $HOME/.github_action_docker/${GITHUB_RUN_ID}/.docker
          echo "DOCKER_CONFIG=$HOME/.github_action_docker/${GITHUB_RUN_ID}/.docker" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            MAKE_J_THREADS=5
          target: lammps-ani-build_from_base

      - name: Test
        run: docker run --gpus all ${{ steps.meta.outputs.tags }} bash -c "nvidia-smi && cd /lammps-ani/tests/ && python save_ani.py && ./test_all.sh && pytest test_lmp_with_ase.py -s -v"

      - name: Remove image
        if: ${{ always() }}
        continue-on-error: true
        run: docker image rm ${{ steps.meta.outputs.tags }}

      - name: Post Set DOCKER_CONFIG
        if: ${{ always() }}
        run: rm -rf $HOME/.github_action_docker/${GITHUB_RUN_ID}

concurrency:
  group: build_docker-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true
